
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
header {
    text-align: center;
}
nav {
    padding-left:10px;
    padding-right:10px;
    background-color:gray;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

figcaption {
    text-align:center;
} 
article p {
    max-width:800px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
div {
    float:left;
    text-align:center;
    background-color:red;
    width:25%;
    height:100%
}
